.page-navbar-container {
  width: 100vw; height: auto;
  min-height: 50px;
  margin: 0; padding: 0;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(5, 1fr);

  position: fixed;
  bottom: 0;
  z-index: 85;

  background: var(--colour-app-background);
  border-top: 1px solid var(--colour-app-light);
}
.page-navbar-container .icon{
  height: 70px;
  grid-column: auto;
  position: relative;
  background: transparent;
  border: none;

  display: grid;
  grid-template-rows: auto min-content;
}
.page-navbar-container .icon:active{
  background: var(--colour-app-dark);
}
.page-navbar-container p {
  grid-row: 2 / span 1;
  margin: 0; padding: 0 0 5px 0;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}
.page-navbar-container svg {
  grid-row: 1 / span 1;
  width: auto; height: 90%;

  display: block;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  fill: #000000;

  object-position: center;
  object-fit: cover;
}
.page-navbar-container svg.active {
  fill: var(--colour-app-main)
}

.page-navbar-container button:not(.icon) {
  grid-column: 1 / span 5;
}

/* SAFARI OVERRIDE */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
  .page-navbar-container {
    padding: 0 0 15px 0;
  }
}}