<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#FFFFFF">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="../desktop.css" media="screen and (min-width: 800px)">
    <link rel="stylesheet" href="../mobile.css" media="screen and (max-width: 799px)">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Rubik:400,500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <title>Nincs jogosultságod - BIGAssistant</title>
</head>
<body>
    <div class="unauthorized-main-container">
        <div></div>
        <h1>Nincs jogosultságod megtekinteni ezt az oldalt!</h1>
    </div>
</body>
</html>