input.app-input {
  width: 260px; height: min-content;
  min-height: 40px;

  display: block; margin: 5px auto 5px auto;
  padding-left: 15px; padding-right: 15px;

  color: var(--colour-app-text);
  background: var(--colour-app-light);
  border: none;
  border-radius: 20px;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
}
input.app-input::placeholder {
  margin: 0; padding: 0;
  color: var(--colour-app-dark);
  font-weight: 300;
}

input.app-input-error {
  border: 1px solid #FF0000 !important;
  color: #FF0000 !important;
}

input[type="number"].app-input {
  height: 40px;
}