.app-card {
  width: 260px; height: auto;
  min-height: 60px;

  display: block;
  margin: 5px auto 5px auto; padding: 5px 15px 5px 15px;

  background: var(--colour-app-light);
  border: none;
  border-radius: 10px;
}
.app-card:not(.app-card-button-container) > button {
  width: 260px;
  margin: 0 !important;
}
.app-card:active {
  filter: brightness(80%);
}

.app-card-button-container {
  width: min-content !important;
  padding: 0 !important;
}
.app-card-button-container > button {
  margin: 0 !important;
}

h1.app-card-group-title {
  margin: 10px; padding: 0;
  text-align: center;

  color: var(--colour-app-dark);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 22px;
}

.app-card-class-content {
  padding: 15px;

  display: grid;
  grid-template-rows: min-content auto auto;
}
.app-card-class-content > h1 {
  grid-row: 1 / span 1;

  margin: 0 0 5px 0; padding: 0;

  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.app-card-class-content > p {
  margin: 0 0 5px 0; padding: 0;

  color: var(--colour-app-background);
  text-align: left;
  font-size: 18px;
  font-weight: 300;
}
.app-card-class-content > p > span {
  color: #ffffff !important;
  font-weight: 400 !important;
}
.app-card-class-content.app-card-exam {
  background: var(--colour-app-exam);
}
.app-card-class-content.app-card-homework {
  background: var(--colour-app-homework);
}