.app-popup {
  width: auto; height: auto;
  margin: 0; padding: 0;

  display: block; z-index: 91;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;

  background: hsla(0, 0%, 0%, 0.45);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px)
}

.app-popup > div {
  width: 100vw; height: auto;
  margin: 0; padding: 0;
  overflow: hidden;

  display: grid;
  grid-template-rows: min-content min-content;

  position: absolute;
  bottom: 0; left: 0;

  background: var(--colour-app-light);
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.app-popup > div > p {
  margin: 15px 5px 10px 5px; padding: 0;
  font-weight: 300;
  text-align: center;
  word-break: normal;
}

.app-popup > div > button {
  width: calc(100% - 10px) !important;
}

.app-popup > div > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.app-popup > div > div > button {
  width: calc(100% - 10px) !important;
}